@model Progra_4_Progreso_1.Models.Carrera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_carrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.campus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_semestre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcarrera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
